<!--
  ~ Copyright 2014 Stephan Fellhofer
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<html>
<head>
    <title>$i18n.getText("admin_helper.admin.label")</title>
    <meta name="decorator" content="atl.general"/>
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
    <script sry="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    #*$webResourceManager.requireResource("org.catrobat.jira.adminHelper:hardware-resources")*#
</head>
<body>
<div id="aui-message-bar">
#* will be filled out by JavaScript *#
</div>
<div class="aui-tabs horizontal-tabs" id="tabs-hardware">
    <ul class="tabs-menu">
        <li class="menu-item active-tab">
            <a href="#tabs-overview"><strong>Overview</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-lent-out"><strong>Lent Out</strong></a>
        </li>
        <li class="menu-item">
            <a href="#tabs-active-devices"><strong>Active Devices</strong></a>
        </li>
        <li class="menu-item" name="hidden-if-read-only" style="display: none">
            <a href="#tabs-sorted-out"><strong>Sorted Out</strong></a>
        </li>
        <li class="menu-item" name="hidden-if-read-only" style="display: none">
            <a href="#tabs-all-devices"><strong>All Devices</strong></a>
        </li>
        <li class="menu-item" name="hidden-if-read-only" style="display: none">
            <a href="#tabs-hardware-management"><strong>Hardware Management</strong></a>
        </li>
        <li class="menu-item" name="hidden-if-read-only" style="display: none">
            <a href="#tabs-individual-lending"><strong>Individual-Related Lending</strong></a>
        </li>
    </ul>
    <div class="tabs-pane active-pane" id="tabs-overview">
        <div class="left-from-search-field">
            <h3>Overview</h3>
        </div>
        <div class="search-field">
            <form class="aui" onsubmit="return false;">
                <label for="search-filter-overview">Search Filter</label>
                <input class="search text" type="text" id="search-filter-overview" name="search-filter-overview"
                       title="search-filter-overview" autocomplete="off">
            </form>
        </div>
        <table id="sort_table_0" class="aui aui-table-interactive">
            <thead>
            <tr>
                <th onclick="sortTable(0, 0)" class="aui-table-column-issue-key">Name</th>
                <th onclick="sortTable(1, 0)">Version</th>
                <th onclick="sortTable(2, 0)">Type of Device</th>
                <th onclick="sortTable(3, 0)">OS</th>
                <th onclick="sortTable(4, 0)">Available</th>
                <th class="aui-table-column-unsortable" name="hidden-if-read-only">Lend Device Out</th>
            </tr>
            </thead>
            <tbody class="list" id="table-overview-body">
            #* will be filled out by JavaScript *#
            <tr><td colspan="6"><aui-spinner></aui-spinner></td></tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-pane" id="tabs-lent-out">
        <div class="left-from-search-field">
            <h3>Lent Out</h3>
        </div>
        <div class="search-field">
            <form class="aui" onsubmit="return false;">
                <label for="search-filter-lent-out">Search Filter</label>
                <input class="search text" type="text" id="search-filter-lent-out" name="search-filter-lent-out"
                       title="search-filter-lent-out" autocomplete="off">
            </form>
        </div>
        <table id="sort_table_1" class="aui aui-table-interactive tablesorter">
            <thead>
            <tr>
                <th onclick="sortTable(0, 1)" class="aui-table-column-issue-key">Name</th>
                <th onclick="sortTable(1, 1)">Serialnumber</th>
                <th onclick="sortTable(2, 1)">IMEI</th>
                <th onclick="sortTable(3, 1)">Inventorynumber</th>
                <th onclick="sortTable(4, 1)">Lent out by </th>
                <th onclick="sortTable(5, 1)">Lent out since</th>
                <th onclick="sortTable(6, 1)">Lent out Purpose</th>
                <th class="aui-table-column-unsortable">Details</th>
                <th class="aui-table-column-unsortable" name="hidden-if-read-only">Return Device</th>
            </tr>
            </thead>
            <tbody class="list" id="table-lent-out">
            #* will be filled out by JavaScript *#
            <tr><td colspan="8"><aui-spinner></aui-spinner></td></tr>
            </tbody>
        </table>
    </div>
    <div class="tabs-pane" id="tabs-active-devices">
        <div class="left-from-search-field">
            <h3>Active Devices</h3>
        </div>
        <div class="search-field">
            <form class="aui" onsubmit="return false;">
                <label for="search-filter-sorted-out">Search Filter</label>
                <input class="search text" type="text" id="search-filter-sorted-out" name="search-filter-sorted-out"
                       title="search-filter-sorted-out" autocomplete="off">
            </form>
        </div>
        <table id="sort_table_2" class="aui aui-table-interactive  ">
            <thead>
            <tr>
                <th onclick="sortTable(0,2)" class="aui-table-column-issue-key">Name</th>
                <th onclick="sortTable(1,2)">Serialnumber</th>
                <th onclick="sortTable(2,2)">IMEI</th>
                <th onclick="sortTable(3,2)">Inventorynumber</th>
                <th onclick="sortTable(4,2)">Received From</th>
                <th onclick="sortTable(5,2)">Lent out since</th>
                <th onclick="sortTable(6,2)">Lent out by</th>
                <th name="hidden-if-read-only">Action</th>
                <th class="aui-table-column-unsortable">Details</th>
            </tr>
            </thead>
            <tbody class="list" id="table-active-devices">
            #* will be filled out by JavaScript *#
            <tr><td colspan="9"><aui-spinner></aui-spinner></td></tr>
            </tbody>
        </table>
    </div>
    <div class="tabs-pane" id="tabs-sorted-out">
        <div class="left-from-search-field">
            <h3>Sorted Out</h3>
        </div>
        <div class="search-field">
            <form class="aui" onsubmit="return false;">
                <label for="search-filter-sorted-out">Search Filter</label>
                <input class="search text" type="text" id="search-filter-sorted-out" name="search-filter-sorted-out"
                       title="search-filter-sorted-out" autocomplete="off">
            </form>
        </div>
        <table id="sort_table_3" class="aui aui-table-interactive  ">
            <thead>
            <tr>
                <th onclick="sortTable(0,3)" class="aui-table-column-issue-key">Name</th>
                <th onclick="sortTable(1,3)">Serialnumber</th>
                <th onclick="sortTable(2,3)">IMEI</th>
                <th onclick="sortTable(3,3)">Inventorynumber</th>
                <th onclick="sortTable(4,3)">Received From</th>
                <th onclick="sortTable(5,3)">Sorted out since</th>
                <th class="aui-table-column-unsortable">Details</th>
            </tr>
            </thead>
            <tbody class="list" id="table-sorted-out">
            #* will be filled out by JavaScript *#
            <tr><td colspan="6"><aui-spinner></aui-spinner></td></tr>
            </tbody>
        </table>
    </div>
    <div class="tabs-pane" id="tabs-all-devices">
        <div class="left-from-search-field">
            <h3>All Devices</h3>
        </div>
        <div class="search-field">
            <form class="aui" onsubmit="return false;">
                <label for="search-filter-all-devices">Search Filter</label>
                <input class="search text" type="text" id="search-filter-all-devices" name="search-filter-all-devices"
                       title="search-filter-all-devices" autocomplete="off">
            </form>
        </div>
        <table id="sort_table_4" class="aui aui-table-interactive  ">
            <thead>
            <tr>
                <th onclick="sortTable(0,4)" class="aui-table-column-issue-key">Name</th>
                <th onclick="sortTable(1,4)">Serialnumber</th>
                <th onclick="sortTable(2,4)">IMEI</th>
                <th onclick="sortTable(3,4)">Inventorynumber</th>
                <th onclick="sortTable(4,4)">Received From</th>
                <th onclick="sortTable(5,4)">Lent out since</th>
                <th onclick="sortTable(6,4)">Lent out by</th>
                <th onclick="sortTable(7,4)">Sorted out since</th>
                <th onclick="sortTable(8,4)">Action</th>
                <th class="aui-table-column-unsortable">Details</th>
            </tr>
            </thead>
            <tbody class="list" id="table-all-devices">
            #* will be filled out by JavaScript *#
            <tr><td colspan="9"><aui-spinner></aui-spinner></td></tr>
            </tbody>
        </table>
    </div>
    <div class="tabs-pane" id="tabs-hardware-management">
        <div class="left-from-search-field">
            <h3>Hardware Management</h3>
        </div>
        <div class="search-field">
            <form class="aui" onsubmit="return false;">
                <label for="search-filter-management">Search Filter</label>
                <input class="search text" type="text" id="search-filter-management" name="search-filter-management"
                       title="search-filter-management" autocomplete="off">
            </form>
        </div>
        <table id="sort_table_5" class="aui aui-table-interactive  ">
            <thead>
            <tr>
                <th onclick="sortTable(0,5)" class="aui-table-column-issue-key">Name</th>
                <th onclick="sortTable(1,5)" >Version</th>
                <th onclick="sortTable(2,5)" >Type of Device</th>
                <th onclick="sortTable(3,5)" >OS</th>
                <th onclick="sortTable(4,5)" >Allocated Devices</th>
                <th class="aui-table-column-unsortable">Edit</th>
                <th class="aui-table-column-unsortable">Remove</th>
            </tr>
            </thead>
            <tbody class="list" id="table-management">
            #* will be filled out by JavaScript *#
            <tr><td colspan="7"><aui-spinner></aui-spinner></td></tr>
            </tbody>
        </table>
        <p>
            <input class="aui-button aui-button-primary" id="new_model" type="button" value="New Hardware Model"/>
            <input class="aui-button" id="new_device" type="button" value="New Device"/>
        </p>
        <p>Download hardware sheet as <a href="$applicationProperties.getBaseUrl()/plugins/servlet/admin_helper/download">CSV</a>.</p>
        <p>Download Hardware Backup as <a href="$applicationProperties.getBaseUrl()/plugins/servlet/admin_helper/download_backup">zip</a></p>
        <p><stronng>Upload Hardware Backup as
            <a href="$applicationProperties.getBaseUrl()/plugins/servlet/admin_helper/upload_backup">zip</a></stronng></p>

    </div>
    <div class="tabs-pane" id="tabs-individual-lending">
        <div class="left-from-search-field">
            <h3>Individual-Related Lending</h3>
        </div>
        <div class="search-field">
            <form class="aui" onsubmit="return false;">
                <label for="search-filter-individual">Search Filter</label>
                <input class="search text" type="text" id="search-filter-individual" name="search-filter-individual"
                       title="search-filter-individual" autocomplete="off">
            </form>
        </div>
        <div class="user-search">
            <form  class="aui" onsubmit="return false;">
                <input autocomplete="off" class="text" type="text" id="individual-lending-search" name="user" title="username">
            </form>
        </div>
        <table <table id="sort_table_6" class="aui aui-table-interactive  ">
            <thead>
            <tr>
                <th onclick="sortTable(0,6)" class="aui-table-column-issue-key">Name</th>
                <th onclick="sortTable(1,6)">Serialnumber</th>
                <th onclick="sortTable(2,6)">IMEI</th>
                <th onclick="sortTable(3,6)">Inventorynumber</th>
                <th onclick="sortTable(4,6)">Lending Issuer</th>
                <th onclick="sortTable(5,6)">Begin</th>
                <th onclick="sortTable(6,6)">End</th>
                <th onclick="sortTable(7,6)">Purpose</th>
                <th onclick="sortTable(8,6)">Comment</th>
                <th class="aui-table-column-unsortable">Details</th>
            </tr>
            </thead>
            <tbody class="list" id="table-individual">
            #* will be filled out by JavaScript *#
            </tbody>
        </table>
    </div>
    <!-- .aui-tabs -->
</div>
</body>
</html>
