<html
  <head>
      <title>$i18n.getText("admin_helper.upload.title")</title>
      <meta name="decorator" content="atl.admin"/>
  </head>
  <body>
    <div id="aui-message-bar"></div>
    <h1>Select the backup Zip you want to upload</h1>
    <br>
    <p>This Section is used to reimport Backups for the User Management and the Hardware Section.
        The Backup must be a singe Zip file of the follwoing structure:</p>
    <ul>
        <li>device.JSON</li>
        <li>config.JSON</li>
    </ul>
    <br>
    <p>The file may contain only one of these files or both, but nothing else. If the given Backup does not hava the
        described structurethe file will be rejected!
        If you downloaded the Backup through this Plugin the Structure should allready be given!</p>
    <h2> Please only upload Backups if you know what you are doing!</h2>

    <h2>The Backup procedure will delete all current DB entries
        and will replace them with the data given in the Backup file.
        </br>
        If one of the Files is faulty, or an error occurres during the backup process the System will be reset to the
        state before the Backup.
    </h2>

    <form class="aui" method="POST" enctype="multipart/form-data" id="upload-form">
        <div class="field-group">
            <input class="upfile" type="file" name="upload-field" id="upload-field"/>
        </div>
        <div class="field-group">
            <input type="button" value="Submit" class="aui-button aui-button-primary" id="post-inputs">
        </div>
    </form>
  </body>
</html>